<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Misión y visión</title>
  <link rel="stylesheet" href="./styles/misionyvision.css">
  <link rel="stylesheet" href="./styles/header-resp.css">
  <link rel="stylesheet" href="./styles/footer.css">
  <link rel="icon" type="image/x-icon" href="./img/progranos-cuadrado-transp.png">
  <link rel="icon" type="image/x-icon" href="./img/progranos-cuadrado-transp.png">
  <script src="https://kit.fontawesome.com/3e40217e48.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <script src="./js/jquery.js"></script>
  <script src="./js/tag.js"></script>

</head>

<body>
  <header> <!--Header responsive con hamburguesa-->
    <nav class="nav">
        <input type="checkbox" name="" id="nav__checkbox" class="nav__checkbox" />
        <label for="nav__checkbox" class="nav__toggle">
            
          <!-- Menu -->
            <svg class="menu" viewBox="0 0 448 512" width="100" title="bars">
                <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
            </svg>
    
            <!-- Close -->
            <svg class="close" viewBox="0 0 384 512" width="100" title="times">
                <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
            </svg>
        </label>
    
        <ul class="nav__menu">
            <li class="menu__logo">
              <a id="logo-progranos" href="./index.html"><img src="./img/progranos-cuadrado-transp.png" alt=""></a>
              <a id="logo-inta" href="www.inta.gob.ar"><img src="./img/logo-inta-chico.jpg" alt=""></a>
            </li>

            <li><a class= "nav_link" href="index.html">Home</a></li>
            <li><a class= "nav_link" href="plantapiloto.html">Planta piloto</a></li>
            <li><a class= "nav_link" href="capacitacion.html">Capacitación a distancia</a></li>
            <li><a class= "nav_link" href= "misionyvision.html">Misión y visión</a></li>
            <li><a class= "nav_link" href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
  </header>

  <!--<header> Header anterior
    
    <section class="logo">
      <a id="logo-progranos" href="./index.html"><img src="./img/progranos-cuadrado-transp.png" alt=""></a>
      <a id="logo-inta" href="./index.html"><img src="./img/logo-inta-chico.jpg" alt=""></a>
    </section>

    <nav id="navHeader">
      <a href="./index.html">Home</a>
      <a href="./plantapiloto.html">Planta Piloto</a>
      <a href="./capacitacion.html">Capacitación a distancia</a>
      <a href="./misionyvision.html">Misión y Visión</a>
      <a href="./contacto.html">Contacto</a>
    </nav>

  </header>-->
  
  <main>
    
    <h1 id="page_title">Misión y Visión</h1>
 
  <section>
    <img class="center" src="./img/planta-acopio.png" alt="online-learning">
    <article class="texto tag">
      <p>La poscosecha de granos debe abordar retos como la seguridad alimentaria, la inocuidad y la sostenibilidad
        ambiental. El enfoque interdisciplinario y la colaboración de agentes públicos y privados son claves para enfrentar estos
        problemas. El PRO-Granos es una herramienta que busca soluciones a través de la investigación y la transferencia de
        tecnologías.</p>
      </article>
    </section>  


    <section class="accordion tag">

      <article class="panel" id="panel-1">
        <article class="panel-header">MISIÓN</article>
        <article class="panel-content">
          <p>Fomentar la investigación interdisciplinaria y la transferencia de conocimientos y tecnologías
            entre el sector público y privado para mejorar la conservación y transformación de granos y productos
            derivados. </p>
        </article>
      </article>

      <article class="panel" id="panel-2">
        <article class="panel-header">VISIÓN</article>
        <article class="panel-content">
          <p>Argentina necesita transformar su rol de granero del mundo a supermercado del mundo.
            Pro-Granos busca ayudar en ese camino de transformación a través de la investigación y la capacitación permanentes en poscosecha de granos.</p>
        </article>
      </article>

      <article class="panel" id="panel-3">
        <article class="panel-header">METAS</article>
        <article class="panel-content">
          <ul class ="metas">
            <li>Desarrollar tecnologías de conservación de granos y productos derivados con foco en la
              calidad e inocuidad.</li>
            <li>Desarrollar productos y procesos de poscosecha más eficientes y sustentables.</li>
            <li>Transferir nuevas tecnologías al sector privado.</li>
            <li>Fomentar la implementación de Buenas Prácticas en poscosecha.</li>
            <li>Capacitar al sector de poscosecha en los fundamentos y tecnologías para conservar los granos.</li>
            
            
          </ul>          
        </article>
      </article>
    </section>

 </main>

  <footer>

    <section id="footer_info">
      <nav id="footer_links">
        <h4>Links Rápidos</h4>
        <a class="linkFoo" href="./index.html">Home</a>
        <a class="linkFoo" href="./plantapiloto.html">Planta Piloto</a>
        <a class="linkFoo" href="./capacitacion.html">Capacitación a distancia</a>
        <a class="linkFoo" href="./contacto.html">Contacto</a>
        <a class="linkFoo" href="./misionyvision.html">Visión y Misión</a>
        <a class="linkFoo" href="www.inta.gob.ar">INTA</a>
      </nav>


      <section>
        <h4>Contactános</h4>
        <ul>
          <li>Ruta 226, km 73,5, Balcarce</li>
          <li>Buenos Aires, Argentina</li>
          <li>02266 43-9100</li>
        </ul>
        <nav class="rrss">
          <a  target="_blank" href="https://www.facebook.com/poscosechadegranos/"><i id="iFacebook" class="fa-brands fa-square-facebook"></i></a>
          <a target="_blank" href="./contacto.html"><i id="iMail" class="fa-solid fa-envelope"></i></a>
          <a target="_blank" href="https://ar.linkedin.com/in/grupo-de-poscosecha-de-granos-inta-190b63173"><i id="iLinkedin" class="fa-brands fa-linkedin"></i></a>
        </nav>
      </section>
    </section>

    <section id="copyright">
      <p>2023 - Todos los Derechos Reservados. Las marcas y logos de INTA.</p>
      <div id="app">
      <p>En {{localidad}}, {{pais}}, hoy es {{dia}}/{{mes}}/{{anio}} y la hora es {{hora}}.</p>
    </div>
    </section>

  </footer>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/conApiCalen.js"></script>
</body>





</html>