* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
}

body {
  margin: auto;
/*  background-color: #F2F2F2;*/
}



/* Formato de Título principal*/

#page_title {
  z-index: 19;
  color: #F2F2F2;
  padding: 70px 15px 150px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #1B8CA6, #02734A);
  ;
  border-bottom: #02734A solid 10px;
  float: center;
}

/* Imagen principal de la página */

.center {
  border: #F2F2F2 10px solid;
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  float: center;
  margin-top: -120px;
  object-fit: cover;

}

/*Layout de mapa y formulario*/

.accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.panel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.panel-header {
    background-image: linear-gradient(to right, #1B8CA6, #038C5A);
    color: white;
    padding: 15px;
    text-align: center;
}

.panel-content {
    padding: 2%;
    margin: 2%;
    line-height: 1.5;
    text-align: justify;
    color: #25383C; 
}

#panel-1{
  margin: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;


  }

#panel-1 article{
  text-align: center;
}
  
#panel-2 {
    grid-row: 2;
    grid-column: 1;
  }
  
#panel-3 {
    grid-row: 2;
    grid-column: 2;
    padding: 0;
    
  }

  
/*.metas {
    color:#25383C;
    ;
}*/


.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;

  margin: auto;
  margin-top: 10vh;
}


#mapa{
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: 30rem
}

#mapa iframe{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#contactar {
  margin: 1rem;
  margin-top: 5rem;
  color: #F2F2F2;
  font-size: medium;

}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 1rem;
  background-color: #038C5A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}



#containerform {


  justify-self: center;
  margin: auto;
  margin-right: 5%;
}

.container h3 {

  margin: 1rem;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;

}

.flex-outer {
  margin: 20px;


}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.flex-outer>li:not(:last-child) {
  margin-bottom: 20px;

}


.flex-outer>li>label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+* {
  flex: 1 0 190px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  border: .001px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.flex-outer li #boton {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #02734A;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}









@media (max-width: 720px) {

  

.accordion {
      grid-template-columns: 1fr;
      grid-template-rows: 3; 
    }
  
    #panel-1 {
      grid-row: 1;
      grid-column: 1;
    }
  
    #panel-2{
      grid-row: 2;
      grid-column: 1;
    }
  
    #panel-3 {
      grid-row: 3;
      grid-column: 1;
    }
  }
  
@media (max-width: 1100px) {

    .texto {
        width: 50%;
        position: relative;
        top: 0px;
        left: 25%;
        z-index: 20;
        text-align: justify;
        color: #1B8CA6;
        padding-bottom: 10px;
    }
}




