* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    }

ul {
    list-style: none;
}

body {
    margin: auto;
    background-color: #F2F2F2;
}

main {
    margin-top: 0%;

}

/* Formato de Título principal*/

#page_title {
    z-index: 19;
    color: #F2F2F2;
    padding: 70px 15px 150px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #1B8CA6, #02734A);
    border-bottom: #02734A solid 10px;
    float: center;
}

/* Imagen principal de la página */

.center {
    border: #F2F2F2 10px solid;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    float: center;
    margin-top: -120px;
    object-fit: cover;
}

/* Slideshow container */
.carrusel {
    margin-top: -120px;
    border: #F2F2F2 10px solid;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: center;
    position: relative;
    overflow: hidden;

}

.slide-arrow {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 20;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    height: 4rem;

    font-size: 3rem;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}



#slide-arrow-next {
    right: 0;

    z-index: 20;
}

.slide {
    display: flex;
    scroll-behavior: smooth;
    list-style: none;
    width: 500%;
    height: 80vh;
    transition: all 0.5s ease;
    transform: translateX(0);
    overflow: hidden;
}


.banner {
    width: 60%;
    position: relative;
    top: -500px;
    left: 20%;
    z-index: 20;
    background-color: rgba(27, 140, 166, 0.65);
    border-radius: 20px;
    text-align: center;
}

.banner h3 {
    text-align: center;
    color: #F2F2F2;

}

.banner p {
    padding: 5%;
    color: #F2F2F2;
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Novedades y calendario*/

.info {
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    max-width: 90%;
    margin: 0 auto;
    /*flex-direction: row;*/
    position: relative;
    float: center;
    justify-content: center;
    }

.info h2 {
    text-align: center;
    color:#02734A;
    margin: 2rem auto;
    }

.blog {
    display: flex;
    height: auto;
    padding:10px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    column-gap: 10px;
}

.blog article {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 250px;
    padding: 0;
    margin: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: #F2F2F2;
    color: #25383C; 
    

}

.blog h4 {
    text-align: center;
    margin: 1rem;
    color: #1B8CA6;
}


.blog article img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-bottom: 2.5px solid #1B8CA6;
    border-radius: 1rem 1rem 0 0;

}

.blog p {
    text-align: left;
    margin: 1rem;
    padding: 0;
    color: #25383C; 
    background-color: #F2F2F2;
    font-size: smaller;
}

.calendario {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0 auto;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 20px;

}

.calendario h2 {
    text-align: center;
    margin: 2rem auto;
    color: #02734A;
}

.calendario article h3 {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: #02734A;
    color: #F2F2F2;
}

.calendario article {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    align-content: space-between;
    row-gap: 25px;
    height: 105px;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    /*margin-top: 8%;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    /*padding: 10px;*/
    object-fit: cover;
    overflow: hidden;
    color: #25383C; 
    
}

/*.calendario article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #02734A;
    overflow: hidden;*/




#calenNumber {

    height: 100px;
    background-color: #F2F2F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

#calenNumber h3{
    width: 100px;
    padding: 20px;
    background-color:#F2F2F2;
    color: #1B8CA6;
    font-weight: bold;
    font-size: xx-large;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

#calenNumber h4{


    background-color: #F2F2F2;
    color: #1B8CA6;
    padding: 0px 0px 0px 0px;
}
#calenText h4{

    padding: 20px;
    color: #25383C; 
    }

#calenText p{
    width: auto;
    text-align: left;
    color: #25383C;
    }


.tag {
    opacity: 0;
    transform: translate(10vh, 0);
    transition: all 2.25s;
}

.tagiz {
    opacity: 0;
    transform: translate(-10vh, 0);
    transition: all 2.25s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.tagiz.visible {
    opacity: 1;
    transform: translate(0, 0);
}

article {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    background-color: #02734A;
    overflow: hidden;
    color: #F2F2F2;
}

article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #02734A;
    overflow: hidden;
    border-radius: 0;
}

article a {
    text-decoration: none;
    color: #25383C; 

}

/*
.flotante{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 25vh;
    width: 25vh;
    height: 25vh;
    left: 0vh;

}

.flotante #data{
    background-color: yellow;
}

.flotante #flecha{
    width: 5vh
}

.flotante #slide-arrow-next{
    right: 0;
}
*/
/* Ajuste de Pantalla menor a 720px */

@media (min-width: 720px) {


    .slide-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        background-color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index: 20;
        border: none;
        width: 2rem;
        font-size: 3rem;
        padding: 0;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 100ms;
        height: 4rem;
        overflow: hidden;
        font-size: 3rem;
    }

    .banner {
        position: relative;
        top: -250px;
        left: 20%;
        background-color: rgba(27, 140, 166, 0.65);
        border-radius: 20px;
        }



    .blog {

        flex-wrap: nowrap;


    }

    .blog article {

        margin: 0;
        margin-bottom: 0.5rem;

    }



    .calendario {

        display: flex;
        flex-direction: column;


    }
}











/*

Colores nuevos


Azul Claro
#1BA1BF

Azul Oscuro
#1B8CA6

Verde
#038C5A

Verde Mas oscuro
#02734A

Blanco
#F2F2F2


*/